.container_all {
    width: 1280px;
    height: 1024px;
    background-color: aqua;
    border: solid 0.1vw black;
}

.container_1 {
    display: block;
}

.container_2 {
    margin-top: 3%;
    margin-bottom: 3%;
    display: block;
}

.card {
    display: inline-block;
    width: 32.97%;
    border: solid 1vh black;
}

p {
    visibility: hidden;
    text-align: center;
    font-size: 4vh;
}

button {
    width: 15%;
    height: 5%;
    font-size: 4vh;
}

#timer_text {
    font-size: 4vh;
}